<html>
<head>
    <title>The Cutebot Calendar by Matthew McGuigan</title>
    <meta http-equiv="author" content="Matthew McGuigan">
    <link rel="icon" type="image/x-icon" href="/asset/ccfavicon.png">
    <meta http-equiv="description" content="Tiny robots doing their best, drawn daily by Matthew McGuigan">
    <meta http-equiv="keywords" content="cutebot calendar, cutebots, matthew mcguigan, comic,robots">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,max-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/styles.css">
<style>
  a {
        white-space: nowrap;
        overflow: hidden;
        overflow-wrap: normal;
        text-overflow: ellipsis;
        display: block;
      }
</style>
</head>
<body>
<div id="page">
  <h1><a href="/index.html"><img src="/asset/LOGO_cc-website.png" width="75%" height="auto" align="middle"></a></h1>
<h1>Archive</h1>
<hr>
<br>
	<a href="index.html">BACK</a>
<br>
<ul style="list-style-type:none; text-align:left;">
	{% for c in comics %}
      {% if c.month_header is not none %}
      <li><h3>{{ c.month_header }}</h3></li>
      {% endif %}
      <li>
        {% set alt_title = c.date.strftime('%d') + ' ' + c.alt %}
        {% set title = alt_title %}
        {% if title|length > 60 %}
          {% set title = title[:title.index(' ', 50)] + '...' %}
        {% endif %}
        <a title="{{ alt_title }}"
          href="{{ c.page_path }}">
            {{ title }}
        </a>
      </li>
  {% endfor %}
</ul>
	<br>
	<a href="index.html">BACK</A>
<br>
<br>
	<a href="index.html">
		<img src="LOGO_soft-circuit.png" alt="home" width="100%" align="middle" />
	</a>
</div>
</body>
</html>
